* {
    font-family: "Lato";
}

.title a:any-link {
    float: left;
    padding-left: 1.2%;
    padding-top: 0.8%;
    font: url("Lato/Lato-Regular.ttf");
    font-size: 2vw;
    color: black;
}
.nav-bar a:any-link {
    float: right;
    display: inline;
    padding-right: 1.2%;
    padding-top: 1.4%;
    font: url("Lato/Lato-Thin.ttf");
    font-size: 1.3vw;
    color: black;
}

.images {
    float: right;
    image-rendering: pixelated;
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
}
.row::before {
    content: "";
    clear: both;
    display: table;
}