* {
    font-family: 'latohairline';
}

h2 {
    font-size: 1.5vw;
    position: fixed;
    margin-top: 0%;
    left: 15px;
}

.images {
    max-block-size: 75%;
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-button {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 50%;
    right: 12%;
    opacity: 25%;
    transition: 0.5s;
    animation: fadeIn ease 1s;
}
.right-button:hover {
    opacity: 100%;
    transition: 0.5s;
}

.left-button {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 12%;
    opacity: 25%;
    transition: 0.5s;
    animation: fadeIn ease 1s;
}
.left-button:hover {
    opacity: 100%;
    transition: 0.5s;
}

@font-face {
    font-family: "latohairline";
    src: url("lato-thin-webfont.woff");
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}