* {
    font-family: "Lato";
}

.title {
    list-style-type: none;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 0%;
    overflow: hidden;
    font: url("Lato/Lato-Thin.ttf");
    font-size: 2vw;
    color: black;
}
.title a:any-link{
    list-style-type: none;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 0%;
    overflow: hidden;
    font: url("Lato/Lato-Thin.ttf");
    font-size: 2vw;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.column img {
    padding-top: 6px;
    width: 100%;
}

/* THREE COLUMN LAYOUT (default) */
.column {
    flex: 30%;
    max-width: 33%;
    padding-left: 4px;
    padding-right: 4px;
}
/* TWO COLUMN LAYOUT */
@media (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 50%;
    }
}
/* ONE COLUMN LAYOUT */
@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

.footer {
    position: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: grey;
}